:root {
    --black: #3e3c44;
    --black2: #33343d;
    --light-grey: #dddddd;
    --dark-bg: #f0f5fe;
    --side-link-hover: #ebf2fe;
    --card-border: #777181;
    --link-hover: #cacbd0;
    --blue1: #3e81fa;
    --blue2: #0a49b7;
    --blue3: #397ff9;
    --light-blue: #dfeef9;
    --orange: #fd9727;
}

* {
    margin: 0 0;
    padding: 0 0;

    font-family: "Poppins", "Arial", "Helvetica", "sans-serif";
    list-style: none;
    box-sizing: border-box;

}

body {
    padding-bottom: 1000px;
}

aside {
    margin-top: 60px;

}

.nav-menu {
    margin-top: 10px;
    height: 40px;
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.top-nav {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    position: fixed;
    z-index: 1030;
    top: 0;
    height: 50px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0 40px 0;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons-item {
    padding-left: 10px;
}

.nav-icons-item:first-child {
    padding-left: 0;
}

.nav-icons-item .user-image,
.nav-icons-item .user-image img,
.nav-icons-item i {
    width: 25px;
    font-size: 20px;
}

.nav-icons-item i {
    color: #606060;
}

.nav-icons-item:last-child {
    display: flex;
}

.nav-icons-item .user-image img {
    border-radius: 50%;
    background-color: var(--orange);
}

.nav-icons-item .user-dropdown {
    padding-left: 6px;
    align-self: center;
}

.user-menu-popup {
    margin-top: 60px;
    border: 1px solid #575757;
    width: 210px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    display: none;
}

.user-menu-popup.active {
    display: block;
}

.upper-section {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 25px 5px 10px 10px;
}

.upper-section .image {
    background-color: var(--orange);
    height: 35px;
    border-radius: 50%
}

.upper-section .name {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.upper-section .name span {
    color: #575757;
}

.upper-section .name a {
    color: var(--blue1);
    font-size: 14px;
}

.upper-section .image img {
    width: 35px;
    border-radius: 50%;
}

.central-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.central-section a,
.lower-section a {
    padding: 3px 0;
    text-decoration: none;
    color: #575757
}

.lower-section {
    padding: 10px;

}

/* SIDE MENU */
aside {

    position: fixed;
    left: 0;
    bottom: 0;
    top: -5px;
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);

}

.accordion .accordion-text li {
    list-style: none;
    cursor: pointer;
    transition: all ease-in-out 1s;
}



.accordion-text li .question-arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-text li .question-arrow .question {

    color: #595959;

}

.accordion-text li .question-arrow .arrow {
    font-size: 20px;
    color: #595959;
    padding-right: 10px;
}

.accordion-text li.active .question-arrow .arrow {
    transform: rotate(-180deg);
    padding-left: 10px;

}

.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow {
    color: var(--blue2);

}

.accordion-text li.active .question-arrow .question,
.accordion-text li.active .question-arrow .arrow {
    color: var(--blue2);

}

.accordion-text li .user-projects {
    width: 92%;
    font-size: 14px;
    color: #999999;
    margin: 10px 20px;
    display: none;

}

.accordion-text li .user-projects a {
    display: block;
}

.accordion-text li.active .user-projects {
    display: block;
}

.side-btn {
    display: flex;
    height: 35px;
    margin: 10px 0;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
    transition: all ease-in-out 0.2s;
    position: relative;
}

.side-btn:hover {
    background-color: var(--light-blue);
}

.search .side-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.side-btn span {
    font-size: 15px;
}

.side-btn .counter {
    background-color: var(--orange);
    color: #fff;
    padding:0  6px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    font-size: 13px;
    align-self: center;
    margin-top: 2px;
}

.side-btn i {
    padding-right: 10px;
    font-size: 18px;
    color: #565555;


}